@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
body {
	margin: 0;
}

.top-pane {
	background-color: hsl(225, 6%, 25%);
}

.pane {
	height: 60vh;
	display: flex;
}

.editor-container {
	flex-grow: 1;
	flex-basis: 0;
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
	background-color: hsl(225, 6%, 25%);
}

.editor-title {
	display: flex;
	justify-content: space-between;
	color: white;
	font-family: "Raleway", sans-serif;
	background-color: #1a1a1f;
	padding: 0.5rem 0.5rem 0.5rem 1rem;
	border-top-right-radius: 0.5rem;
	border-top-left-radius: 0.5rem;
}

.code-mirror-wrapper {
	flex-grow: 1;
	border-bottom-right-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
	overflow: hidden;
}

.CodeMirror {
	height: 100% !important;
}
